.container{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 10px;
}
.Heading{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}
.bar{
    font-size: 23px;
}
.Skill .bar{
    margin-top: 0;
}
.Skill .bar:first-child{
    margin-top: 0;
}
.Skill .bar:last-child{
    margin-top: 0;
}
.Skill .bar .info{
    margin-bottom: 5px;
}
.Skill .bar .info span{
    font-size: 17px;
    font-weight: 500;
}
.Skill .bar .progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height:5px;
    background-color: #000000;
}
.Skill .bar .progress-line span{
    border-radius: 10px;
    height:100%;
    position: absolute;
    background-color:#0ef;
}
.progress-line.html span{
    width: 90%;
}
.progress-line.css span{
    width: 55%;
}
.progress-line.javascript span{
    width: 65%;
}
.progress-line.mysql span{
    width: 90%;
}
.progress-line.nodejs span{
    width: 70%;
}
.progress-line.mongodb span{
    width: 40%;
}
.Content1{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 10px;
}
.heading{
    font-size: 40px;
    text-align: center;
    position: center;
    margin-bottom: 50px;
    z-index: 30%;
}
.heading1{
    font-size: 25px;
    font-style: italic;
    position: relative;
    color: #0ef;
}
.footer{
    font-size:10px;
    margin-bottom: 30px;
    color: rgba(221, 255, 220, 0.823);
}
.footer a{
    font-style: italic;
    text-decoration: underline;
    color: blueviolet;
}
footer a:hover{
    color: salmon;
}